
header{
    background: url("../img/fond.jpg") ;
    background-position: center;
    background-size: cover;
    text-align: center;
}

nav{
    background-color: rgb(255, 255, 255, 0.03);
}

nav a{
    display: inline-block;
    margin: 10px 20px;
    color: white;
}

nav a i{
    display: block !important;
}

.promo span{text-transform: uppercase;}

.promo{
    background-color: rgba(255, 255, 255, 0.15);
    /* margin-top: 25px; */
    padding: 10px;
}

h1{
    font-family: "Kaushan Script";
    padding-top: 3%;
    padding-bottom: 16%;
}

h2{
    text-align: center;
}

hr{
    margin: 25px 60px;
}

.left{
    float: left;
    margin-right: 15px;
}


.right{
    float: right;
    margin-left: 15px;
}

.clear{
    overflow: auto;
}

section article{
    padding: 20px;
}

.presentation{
    display: flex;
    background-image: url("../img/background_section.jpg");
    background-position: left bottom;
    background-size: cover;
}

.presentation article{
    text-align: center;
    color: white;
    padding: 30px;
}

article img{
    width: 40%;
    padding: 10px;
}


iframe{
    width: 100%;
}

footer{
    background-color: #b69fdd;
    color: white;
}